h1 {
  text-align: center;

}
.square {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}
.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: auto
  }
  body {
    background-image: url('https://media.gettyimages.com/id/92899378/video/tic-tac-toe.jpg?s=640x640&k=20&c=4WBegzW9IB2gPFGGDXRUjAvmoC3iqLw66itD5vpxdDc=');
    background-size: cover;
    background-position: center;
  }
  